@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Push apo giwrgo Use this area to provffffffffffffkkide additional informatdsufigyuefgiahjhjhjhjsdsadasdsadauSDASAGDUGASDGUSFisdaion. lol r ml</p>
<p>Use this area to provide additional informatdsufigyuefgiasdsadasdsadauSDASasdasdAGDUGASDGUSFisdaion.</p>