@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Πανεπιστήμιο Πειραιώς</h1>
    <p> Σελίδα διαχείρησης των εκδόσεων Πανεπιστημίου Πειραιώς</p>
    <h2>Αν θέλετε να επικοινωνήσετε με τον διαχειριστή </h2>
    <p><a href="mailto:naikos98@hotmail.com" class="btn btn-primary btn-lg">Πατήστε εδώ &raquo;</a></p>
</div>
